---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Dashboard // Home">
  <section class="border border-zinc-800 bg-zinc-900/30 p-6 rounded-lg backdrop-blur-sm shadow-2xl">
    <div class="text-xs text-emerald-500 mb-2">// INITIALIZING_TERMINAL...</div>
    <h2 class="text-3xl font-extrabold text-zinc-100 tracking-tight mb-4">Welcome to my space</h2>
    <p class="text-zinc-400 leading-relaxed text-sm">
      Test page base on Astro
    </p>
  </section>
</BaseLayout>


